.speech {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.speech .lblb-paragraph {
  padding: 0.5rem 0;
}

.sentence {
  position: relative;
  cursor: pointer;
}

.sentence:hover {
  background-color: #eeeeee;
}

.sentence:hover .sentence__tooltip {
  opacity: 1;
}

.sentence__tooltip {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: fit-content;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem black;
  text-align: center;
  opacity: 0;
}

.generateButton {
  cursor: pointer;
  background: #e91845;
  padding: 0.5rem;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}

.generateButton > .lblb-paragraph {
  color: white;
  margin-bottom: 0.25rem;
}

.generateButton > img {
  margin-left: 0.5rem;
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.generateButton:focus {
  outline: none;
}

.generateButton:hover {
  opacity: .8;
}
